html {
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  background-position: 100%;
  background-size: cover;
  background-size: 1rem 1rem;
  background-color: #f8f9fa;
  background-image: radial-gradient(circle, #dee2e6 1px, rgba(0, 0, 0, 0) 1px);
}

body {
  /* border: 1px solid blue; */
  padding: 0 0 30px 0;
  margin: 0;
  /* width: 85%; */
  width: 1100px;
  max-width: 1100px;
  min-height: var(--vh-height, 100vh);
  font-family: var(--font-main), sans-serif;

  padding: env(safe-area-inset-top, 20px) env(safe-area-inset-right, 20px) env(safe-area-inset-bottom, 20px) env(safe-area-inset-left, 20px);
}