/* For screens over 1600 pixels */
@media (min-width: 1400px) {
  html {
    width: 1400px;
    max-width: 1400px;
    margin: 0 auto;
    padding: 10%;
  }

  body {
    width: 90%;
    max-width: 90%;
    padding: 0 5%;
  }
}

/* For screens upto 1400 pixels */
@media (max-width: 1400px) {
  html {
    width: 100%;
    max-width: 100%;
    margin: 0;
    padding: 0;
  }

  body {
    width: 96%;
    max-width: 96%;
    padding: 0 2%;
  }
}


/* For screens over 1300 pixels */
@media (max-width: 1350px) {
  html {
    width: 100%;
    margin: 0;
    padding: 0;
  }

  body {
    width: 96%;
    max-width: 96%;
    padding: 0 2%;
  }
}

/* For screens over 1200 pixels */
@media (max-width: 1200px) {
  html {
    width: 100%;
    margin: 0;
    padding: 0;
  }

  body {
    width: 94%;
    max-width: 94%;
    padding: 0 3%;
  }
}

/* For up to 1000 pixels */
@media screen and (max-width: 1000px) {
  html {
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
  }

  body {
    width: 100%;
    max-width: 100%;
    padding: 0 15px 30px 15px;
  }
}

@media screen and (max-width:660px) {
  html {
    font-size: 16px;
  }
  body {
    /* border: 1px solid blue; */
    padding: 0 10px 30px 10px;
  }

  footer.footer > .copy {
    flex-flow: column;
    align-items: flex-start;
    gap: 10px;
  }

  footer.footer {
    padding: 10px;
    display: flex;
    flex-flow: column;
  }

  header.header > ul > li.link.theme > .options span.option,
  header.header>ul>li.link span.link-item,
  a {
    cursor: default !important;
  }
}

@media screen and (max-width:500px) {
  footer.footer {
    padding: 10px;
    display: flex;
    flex-flow: column;
  }
}