/* For screens over 1200 pixels */
@media (min-width: 1200px) {
  html {
    width: 80%;
    margin: 0 auto;
    padding: 0 20px;
  }

  body {
    width: 100%;
    max-width: 100%;
    padding: 0 20px;
  }
}

@media screen and (max-width: 1200px) {
  html {
    width: 80%;
    margin: 0 auto;
    padding: 0 20px;
  }

  body {
    width: 100%;
    max-width: 100%;
    padding: 0 15px 30px 15px;
  }
}


@media screen and (max-width:660px) {
  html {
    font-size: 16px;
  }
  body {
    /* border: 1px solid blue; */
    padding: 0 10px 30px 10px;
  }

  footer.footer > .copy {
    flex-flow: column;
    align-items: flex-start;
    gap: 10px;
  }

  footer.footer {
    padding: 10px;
    display: flex;
    flex-flow: column;
  }

  header.header > ul > li.link.theme > .options span.option,
  header.header>ul>li.link span.link-item,
  a {
    cursor: default !important;
  }
}

@media screen and (max-width:500px) {
  footer.footer {
    padding: 10px;
    display: flex;
    flex-flow: column;
  }
}