/* For screens over 1600 pixels */
@media (min-width: 1401px) {
  html {
    width: 1400px;
    max-width: 1400px;
    min-width: 1400px;
    margin: 0;
    padding:0 10%;
  }

  body {
    min-height: 100vh;
    padding: 0;
  }
}

/* For screens up to 1400 pixels */
@media (max-width: 1400px) {
  html {
    /* border: 1px solid red; */
    width: 100%;
    max-width: 100%;
    margin: 0;
    padding: 0;
  }

  body {
    /* border: 1px solid red; */
    width: 90%;
    max-width: 90%;
    padding: 0 5%;
  }
}


/* For screens over 1300 pixels */
@media (max-width: 1350px) {
  html {
    width: 100%;
    margin: 0;
    padding: 0;
  }

  body {
    width: 92%;
    max-width: 92%;
    padding: 0 3%;
  }
}

/* For screens over 1200 pixels */
@media (max-width: 1200px) {
  html {
    width: 100%;
    margin: 0;
    padding: 0;
  }

  body {
    width: 98%;
    max-width: 98%;
    padding: 0 1%;
  }
}

/* For up to 1000 pixels */
@media screen and (max-width: 1000px) {
  html {
    width: 100%;
    margin: 0;
    padding: 0;
  }

  body {
    width: 100%;
    max-width: 100%;
    padding: 0 15px;
  }

  body > main.main > section.landing > .content-one > .text {
    width: 90%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    gap: 3px;
  }
}

@media screen and (max-width:660px) {
  html {
    font-size: 16px;
  }
  body {
    padding: 0 10px;
  }

  body > main.main > section.landing > .content-one > .text {
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    gap: 3px;
  }

  /* Toast Message */
  body > .toast {
    position: fixed;
    bottom: 10px;
    right: 50%;
    transform: translateX(50%);
    background: var(--accent-linear);
    color: var(--white-color);
    padding: 8px 15px 8px 10px;
    width: max-content;
    max-width: 95%;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1rem;
    font-weight: 500;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 9999;
    transition: all 0.3s ease;
  }

  body > .toast.false {
    background: var(--error-linear);
  }

  body > .toast > p {
    margin: 0;
    padding: 0;
    font-size: 0.9rem;
  }

  body > .toast > svg {
    height: 17px;
    width: 17px;
  }

  footer.footer > .copy {
    flex-flow: column;
    align-items: flex-start;
    gap: 10px;
  }

  footer.footer {
    padding: 10px;
    display: flex;
    flex-flow: column;
  }

}

@media screen and (max-width:500px) {
  footer.footer {
    padding: 10px;
    display: flex;
    flex-flow: column;
  }
}