@media screen and (max-width: 1120px) {
  html {
    width: 100%;
    min-width: 100%;
  }

  body {
    /* border: 1px solid blue; */
    padding: 0 15px 30px 15px;
    width: 100%;
    max-width: 100%;
  }
}

@media screen and (max-width:800px) {
  header.header > ul > li.link.theme > .options {
    border: 1px solid #057232a9;
  }
}

@media screen and (max-width:660px) {
  header.header > ul > li.link.theme > .options {
    border: 1px solid #057232a9;
  }

  main.post,
  main.main {
    /* border: 1px solid red; */
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
  }

  main.post>.side,
  main.post>.feeds {
    width: 100%;
  }

  .stats>.stat.write span.line {
    border-left: var(--open-line-mobile);
  }

  main.home > section.popular > div.stories > .trending {
    margin: 10px 0;
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: unset;
    gap: 10px;
  }

  main.main > article.content {
    /* border: 1px solid #000000; */
    padding: 30px 0;
    width: 100%;
  }

  /* Side */
  main.main > section.side {
    display: none;
  }

  footer.footer>.copy {
    flex-flow: column;
    align-items: flex-start;
    gap: 10px;
  }
}

@media screen and (max-width:600px) {
  body {
    /* border: 1px solid blue; */
    padding: 0 10px 30px 10px;
  }

  header.header {
    /* border: 1px solid red; */
    z-index: 10;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  header.header > h2.site-name {
    position: unset;
    margin: 0;
  }

  header.header .nav {
    display: flex;
    margin-left: -7px;
    cursor: default !important;
  }

  header.header .nav * {
    display: flex;
    cursor: auto !important;
  }

  header.header > ul.left {
    /* border: 1px solid black; */
    background-color: var(--background);
    position: fixed;
    left: calc(100% + 15px);
    flex-flow: column;
    z-index: 5;
    top: 60px;
    bottom: 0;
    width: 100%;
    height: calc(var(--vh-height, 100vh) - 60px);
    max-height: max-content;
    min-height: calc(var(--vh-height, 100vh) - 60px);
    align-items: stretch;
    justify-content: start;
    gap: 0;
    padding: 10px 15px;
    transition: all 500ms ease-in-out;
    -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    -ms-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
  }

  header.header > ul.left > .account {
    /* border: 1px solid #ff00ff; */
    display: flex;
    flex-flow: column;
    width: 100%;
    padding: 0;
    gap: 0;
  }


  header.header > ul.left > li.logout > a,
  header.header > ul.left > .account > a {
    /* border: 1px solid #ff00ff; */
    display: flex;
    flex-flow: column;
    margin: 8px 0;
    width: 100%;
    font-weight: 500;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
  }

  header.header > ul.left > .account > a.login {
    border: 0.002rem solid #6b72808f;
    padding: 10px 0;
    color: #1f2937;
    text-align: center;
  }

  header.header > ul.left > .account > a.signup {
    border: none;
    padding: 10px 0;
    color: var(--white-color);
    text-align: center;
    background: var(--accent-linear);
  }

  header.header > ul.left > li.logout {
    list-style-type: none;
    display: flex;
    position: absolute;
    bottom: 20px;
    left: 15px;
    right: 15px;
    font-weight: 600;
  }

  header.header > ul.left > li.logout.active {
    bottom: -100px;
  }

  header.header > ul.left > .account > a.donate,
  header.header > ul.left > li.logout > a,
  header.header > ul.left > .account > a.settings,
  header.header > ul.left > .account > a.profile {
    border: 0.002rem solid #6b72809a;
    color: #1f2937;
    padding: 2px 5px 2px 10px;
    min-height: 40px;
    height: 40px;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
  }

  header.header > ul.left > li.logout > a {
    border: 0.002rem solid #c56139a1;
  }

  header.header > ul.left > .account > a.donate > svg,
  header.header > ul.left > li.logout > a svg,
  header.header > ul.left > .account > a.settings svg {
    color: var(--gray-color);
    width: 28px;
    height: 28px;
  }

  header.header > ul.left > .account > a.profile span.image {
    /* border: 0.002rem solid #6b72808f; */
    width: 30px;
    height: 30px;
    overflow: hidden;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
  }

  header.header > ul.left > .account > a.profile span.image img {
    width: 100%;
    height: 100%;
    overflow: hidden;
    object-fit: cover;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
  }

  header.header > ul.left > li.logout > a > span.text,
  header.header > ul.left > .account > a > span.text {
    /* border: 0.002rem solid #6b72808f; */
    font-weight: 600;
    color: #1f2937;
    text-align: center;
  }

  header.header > ul.left > li.logout > a > span.text,
  header.header > ul.left > li.logout > a > svg,
  header.header > ul.left > li.logout > a {
    color: #c56139 !important;
  }


  header.header > ul.left > li.link {
    /*border: 3px solid #ff00ff;*/
    border: 0.002rem solid #6b7280a9;
    min-width: 100%;
    width: 100%;
    margin: 8px 0;
    padding: 10px 5px 10px 10px;
    height: max-content;
    display: flex;
    flex-flow: column;
    align-items: stretch;
    justify-content: space-between;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}


  header.header > ul.left > li.link.active,
  header.header > ul.left > li.link:hover {
    background: unset;
    background-clip: unset;
    -webkit-background-clip: unset;
    /* font-family: var(--font-mono); */
  }

  header.header > ul.left > li.link span.link-item svg{
    color: #4b5563;
  }

  header.header > ul.left > li.link:hover span.link-item svg {
    rotate: unset;
  }

  header.header > ul.left > li.link span.link-item {
    /* border: 3px solid #ff00ff; */
    display: flex;
    align-items: stretch;
    justify-content: space-between;
  }

  header.header > ul.left > li.link a {
    color: var(--gray-color);
    cursor: pointer;
    font-family: inherit;
  }

  header.header > ul.left > li.link span.link-item > span.text,
  header.header > ul.left > li.link a {
    /* border: 1px solid black; */
    /* color: #4b5563; */
    color: #1f2937;
    font-weight: 600;
    cursor: pointer;
    font-family: inherit;
  }

  header.header > ul.left > li.link > div.drop-down {
    /* border: 1px solid #0059ff; */
    border: none;
    display: none;
    padding: 10px 0 0 0;
    min-width: 100%;
    width: 100%;
    position: unset;
    left: unset;
    top: unset;
    width: unset;
    color: var(--gray-color);
    align-items: center;
    flex-flow: column;
    gap: 0;
    justify-content: space-evenly;
    list-style-type: none;
    box-shadow: none;
    border-radius: 0;
  }

  header.header > ul.left > li.link.active > div.drop-down {
    display: flex;
  }

  header.header > ul.left > li.link.active span.link-item svg {
    rotate: 180deg;
  }


  header.header > ul.left > li.link > div.drop-down * {
    transition: all 500ms ease-in-out;
    -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    -ms-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
  }

  header.header > ul.left > li.link > div.drop-down > span.arrow {
    display: none;
  }

  header.header > ul.left > li.link > div.drop-down > ul.main {
    /* border: 1px solid red; */
    width: 100%;
    margin: 0;
    padding: 0;
    gap: 0;
    display: flex;
    flex-flow: column;
    align-items: start;
  }

  header.header > ul.left > li.link > div.drop-down ul:last-of-type {
    border: none;
    padding: 10px 0 0 0;
  }

  header.header > ul.left > li.link > div.drop-down ul > h4.title {
    display: none;
  }

  header.header > ul.left > li.link > div.drop-down ul.main > li {
    /* border: 2px solid #057232; */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0;
    margin: 0;
    padding: 0;
  }

  header.header > ul.left > li.link > div.drop-down ul.main > li > a {
    /* border: 0.002rem solid #6b72809a; */
    color: #1f2937;
    padding: 4px 5px 2px 10px;
    min-height: 40px;
    height: 40px;
    display: flex;
    flex-flow: row-reverse;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
  }

  header.header > ul.left > li.link > div.drop-down ul.main > li:nth-of-type(odd) > a {
    background-color: #6b728021;
  }

  header.header > ul > li.link > div.drop-down ul > li:hover {
    background-color: unset;
  }

  header.header > ul > li.link > div.drop-down ul > li svg {
    /* border: 1px solid red; */
    color: var(--gray-color);
    width: 30px;
    height: 30px;
    margin: -2px 0 0 -8px;
  }

  header.header > ul > li.link > div.drop-down ul > li.supabase svg {
    /* border: 1px solid red; */
    margin-bottom: -5px;
    padding: 4px;
  }

  header.header > ul > li.link > div.drop-down ul > li.bulk svg {
    /* border: 1px solid red; */
    margin-bottom: -5px;
  }

  header.header > ul > li.link > div.drop-down ul > li.authors svg {
    /* border: 1px solid red; */
    margin-bottom: -10px;
  }

  header.header > ul > li.link > div.drop-down ul > li.icon svg {
    /* border: 1px solid red; */
    width: 30px;
    height: 30px;
    padding: 4px;
  }

  header.header > ul > li.link > div.drop-down ul > li.create svg {
    /* border: 1px solid red; */
    padding: 2px;
  }

  header.header > ul > li.link > div.drop-down ul > li a span.content {
    margin: 0 0 0 0px;
  }

  header.header > ul > li.link > div.drop-down ul > li a span.content h5 {
    /* border: 1px solid red; */
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.5;
    color: var(--gray-color);
  }

  header.header > ul > li.link > div.drop-down ul > li a span.content span.text {
    display: none;
  }

  footer.footer {
    padding: 10px;
    display: flex;
    flex-flow: column;
  }

  header.header > ul > li.link.theme > .options span.option,
  header.header>ul>li.link span.link-item,
  a {
    cursor: default !important;
  }
}

@media screen and (max-width:500px) {
  footer.footer {
    padding: 10px;
    display: flex;
    flex-flow: column;
  }
}