/*

Copyright: 2024 - Aduki Incorporation
Name: Blog & Article Platform
URL: https://github.com/fescii/femar.git
Author: Fredrick Femar Ochieng
Author URL: https://femar.co.ke


/*

  Fonts
  =====

*/

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

/*

  Variables
  =========

*/

:root {
  --font-main: "Inter";
  --font-text: "DM Sans";
  --font-mono: 'Jetbrains Mono';
  --scroll-bar-background: #DDDDD7;
  --scroll-bar-linear: linear-gradient(#53595f, #627ea0);

  --input-border: 1px solid #6b72805e;
  --input-border-focus: 1px solid #18a5669a;
  --action-border: 1px solid #6b72803f;
  --story-border: thin solid #6b72801a;

  --story-border-mobile: thin solid #6b728046;
  --border-mobile: thin solid #6b728088;

  --background: #ffffff;
  --vh-height: 100dvh;

  --action-background: #1d2c38d2;

  --author-background: #f1f3f4;
  --user-background: #f8f8f8;
  --dot-background: #6b7280c9;

  --accent-color: #08b86f;
  --white-color: #ffffff;
  --gray-color: #6b7280;
  --text-color: #53595f;
  --color-alt: #ff932f;
  --action-color: #1d2c38;
  --anchor: #4b556321;
  --anchor-active: #21D029;

  --open-line: 2px solid #08b86f93;
  --open-line-mobile: 2px solid #08b86fc5;
  --close-line: 2px solid #6b72803a;

  --modal-shadow: 0 12px 48px #6d758d33;
  --modal-border: 1px solid #83858442;
  --modal-overlay: #1d2534b3;

  /* --option-background: linear-gradient(#53595f71, #627ea034); */

  --second-linear: linear-gradient(0deg,#df791a 0%, #f09c4e 100%);

  --accent-linear: linear-gradient(103.53deg, #18A565 -6.72%, #21D029 109.77%);
  --alt-linear: linear-gradient(78deg, rgb(31, 6, 71) -50%, rgb(48, 0, 130) 28.67%, rgb(143, 0, 153) 57.79%, rgba(238, 0, 176, 0.85) 76.05%, rgb(247, 95, 98) 88.54%, rgb(255, 190, 20));
  --loader-gradient: linear-gradient(-45deg, #ececec, #f8f8f8, #DDDDDD, #f8f8f8, #ececec);
  --fade-linear-gradient: linear-gradient(
    180deg, #ffffff02,
    #ffffff2a,
    #ffffff4d,
    #ffffff69,
    #ffffff83,
    #ffffffa4,
    #ffffffc2,
    #ffffffe0,
    #fffffff6,
    #ffffff
  );
  --fade-picture-gradient: linear-gradient(180deg,
  rgba(0, 0, 0, 0),
  rgba(0, 0, 0, 0.8)
  );
}

*,
*:after,
*:before {
  box-sizing: border-box;
  font-family: inherit;
  -webkit-box-sizing: border-box;
}

*:focus {
  outline: inherit !important;
}

*::-webkit-scrollbar {
  width: 3px;
}

*::-webkit-scrollbar-track {
  background: var(--scroll-bar-background);
}

*::-webkit-scrollbar-thumb {
  width: 3px;
  background: var(--scroll-bar-linear);
  border-radius: 50px;
}

html {
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  background-position: 100%;
  background-size: 1rem 1rem;
  background-color: var(--background);
  /* background-color: #f3f4f9; */
  /* background-image: radial-gradient(circle, rgb(209, 209, 209) 1px, rgba(0, 0, 0, 0) 1px); */
}

body {
  /* border: 1px solid blue; */
  padding: 0 0 30px 0;
  margin: 0;
  /* width: 85%; */
  width: 1100px;
  max-width: 1100px;
  min-height: var(--vh-height, 100vh);
  font-family: var(--font-main), sans-serif;

  padding: env(safe-area-inset-top, 20px) env(safe-area-inset-right, 20px) env(safe-area-inset-bottom, 20px) env(safe-area-inset-left, 20px);
}

body.stop-scrolling {
  height: 100%;
  overflow: hidden;
}



/*

Typography
==========

*/

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
  font-family: inherit;
}

ul,
ol {
  padding: 0;
  margin: 0;
}

/* ul li,
ol li {
  list-style-type: none;
} */

a {
  text-decoration: none;
}


/*

Typography End
==============

*/

header.header {
  /* border: 1px solid red; */
  padding: 0 0 0 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  min-height: 70px;
  height: 70px;
  position: sticky;
  z-index: 5;
  top: 0;
  background-color: var(--background);
}

header.header > h2.site-name {
  position: absolute;
  left: 0;
  margin: 0 30px 0 0;
  font-weight: 700;
  color: transparent;
  background: var(--accent-linear);
  background-clip: text;
  -webkit-background-clip: text;
  font-family: var(--font-text);
}

/* Nav */
header.header .nav {
  --color: #53595f;
  /* border: 1px solid black; */
  z-index: inherit;
  background: none;
  max-width: 50px;
  max-height: 40px;
  position: relative;
  display: none;
  justify-content: start;
  align-items: start;

  svg {
    fill: none;
    height: 40px;
    stroke: var(--color);
    stroke-width: 7px;
    stroke-linecap: round;
    stroke-linejoin: round;

    use {
      &:nth-of-type(1) {
        opacity: 1;
        stroke-dashoffset: 221;
        stroke-dasharray: 46 249;
        transition: stroke-dashoffset .12s linear .2s, stroke-dasharray .12s linear .2s, opacity 0s linear .2s;
      }

      &:nth-of-type(2) {
        animation: stroke-animation-reverse 1.2s ease-out forwards;
      }
    }
  }

  input.nav-input {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 2;
    cursor: pointer;
    opacity: 0;

    &:checked {
      +svg {
        use {
          &:nth-of-type(1) {
            stroke-dashoffset: 175;
            stroke-dasharray: 0 295;
            opacity: 0;
            transition: stroke-dashoffset .07s linear .07s, stroke-dasharray .07s linear .07s, opacity 0s linear .14s;
          }

          &:nth-of-type(2) {
            animation: stroke-animation 1.2s ease-out forwards;
          }
        }
      }
    }
  }
}

@keyframes stroke-animation {
  0% {
    stroke-dashoffset: 295;
    stroke-dasharray: 25 270;
  }

  50% {
    stroke-dashoffset: 68;
    stroke-dasharray: 59 236;
  }

  65% {
    stroke-dashoffset: 59;
    stroke-dasharray: 59 236;
  }

  100% {
    stroke-dashoffset: 68;
    stroke-dasharray: 59 236;
  }
}

@keyframes stroke-animation-reverse {
  0% {
    stroke-dashoffset: 68;
    stroke-dasharray: 59 236;
  }

  50% {
    stroke-dashoffset: 290;
    stroke-dasharray: 25 270;
  }

  65% {
    stroke-dashoffset: 295;
    stroke-dasharray: 25 270;
  }

  100% {
    stroke-dashoffset: 290;
    stroke-dasharray: 25 270;
  }
}

header.header > ul {
  /* border: 1px solid black; */
  height: 100%;
  display: flex;
  align-items: center;
  gap: 25px;
}


header.header > ul.left {
  position: relative
}

header.header > ul.left > .account {
  display: none;
}

header.header > ul > li.link {
  /* border: 1px solid black; */
  /* font-family: var(--font-mono); */
  color: var(--gray-color);
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  list-style-type: none;
  gap: 6px;
  font-weight: 500;
}

header.header > ul > li.logout {
  display: none;
}

header.header > ul > li.link.active,
header.header > ul > li.link:hover {
  /* font-weight: 600; */
  color: transparent;
  background: var(--accent-linear);
  background-clip: text;
  -webkit-background-clip: text;
  /* font-family: var(--font-mono); */
}

header.header > ul > li.link span.link-item,
header.header > ul > li.link a {
  /* border: 1px solid black; */
  color: inherit;
  cursor: pointer;
  font-family: inherit;
}

header.header > ul > li.link span.link-item svg,
header.header > ul > li.link a svg {
  margin: 0 0 -2px 0;
  width: 15px;
  height: 15px;
}

header.header > ul > li.link span.link-item svg,
header.header > ul > li.link a svg {
  transition: all 300ms ease-in-out;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
}

header.header > ul > li.link span.link-item svg,
header.header > ul > li.link.active > a > svg,
header.header > ul > li.link:hover  > a > svg {
  color: var(--accent-color);
}


header.header > ul.right > li.link.search a svg {
  /* border: 1px solid #124ec5; */
  margin: 0 0 -5px 0;
  width: 23px;
  height: 23px;
}

header.header > ul > li.link.theme {
  /* border: 1px solid #124ec5; */
  /* rotate: 15deg; */
  width: max-content;
  height: 30px;
}

header.header > ul > li.link.theme > .options {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--gray-color);
  gap: 0;
  padding: 0;
  border: 1px solid #6b728021;
  position: relative;
  height: 30px;
  min-width: 90px;
  width: 90px;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
}

header.header > ul > li.link.theme > .options span.option {
  /* border: 1px solid red; */
  cursor: pointer;
  min-width: 50%;
  color: var(--gray-color);
  width: 45px;
  z-index: 2;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

header.header > ul > li.link.theme > .options.light span.option.light-icon,
header.header > ul > li.link.theme > .options.dark span.option.dark-icon {
  color: var(--white-color);
}

header.header > ul > li.link.theme > .options span.option svg {
  width: 18px;
  height: 18px;
  color: inherit;
}

header.header > ul > li.link.theme > .options.light span.option.light-icon svg,
header.header > ul > li.link.theme > .options.dark span.option.dark-icon svg{
  rotate: 360deg;
}

header.header > ul > li.link.theme > .options span.option.dark-icon svg {
  margin: -2px 0 0 0;
}

header.header > ul > li.link.theme > .options span.status {
  /* border: 2px solid #21d02abe; */
  background: var(--accent-linear);
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 45px;
  display: inline-block;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
}

header.header > ul > li.link.theme * {
  transition: all 500ms ease-in-out;
  -webkit-transition: all 500ms ease-in-out;
  -moz-transition: all 500ms ease-in-out;
  -ms-transition: all 500ms ease-in-out;
  -o-transition: all 500ms ease-in-out;
}

header.header > ul > li.link.theme > .options.light span.status {
  left: 0;
}

header.header > ul > li.link.theme > .options.dark span.status {
  left: 45px;
}

header.header > ul > li.link.theme > .options span svg {
  margin: 0 0 -1px 0;
}


header.header > ul > li.link a span.text {
  font-family: inherit;
}


/* Dropdown */
header.header > ul > li.link > div.drop-down {
  border: 0.002rem solid #6b72802f;
  background-color: var(--background);
  padding: 15px 0;
  position: absolute;
  left: -50px;
  top: 60px;
  width: 530px;
  color: var(--gray-color);
  display: none;
  align-items: center;
  flex-flow: column;
  gap: 15px;
  justify-content: space-evenly;
  list-style-type: none;
  box-shadow: 0 0 0 1px #ffffff25, 0 2px 2px #0000000a, 0 8px 16px -4px #0000000a;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
}

header.header > ul > li.link:hover > div.drop-down,
header.header > ul > li.link.active > div.drop-down {
  display: flex;
  transition: all 300ms ease-in-out;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
}


header.header > ul > li.link.active span.link-item svg,
header.header > ul > li.link:hover span.link-item svg {
  rotate: 180deg;
}

header.header > ul > li.link > div.drop-down > span.arrow {
  border: 0.002rem solid #6b72802f;
  border-bottom: none;
  border-right: none;
  background-color: var(--background);
  position: absolute;
  left: 53px;
  top: -7px;
  width: 14px;
  height: 14px;
  rotate: 45deg;
  color: var(--gray-color);
  display: flex;
  border-radius: 1px;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
}

header.header > ul > li.link.articles > div.drop-down > span.arrow {
  left: 136px;
}

header.header > ul > li.link.resources > div.drop-down > span.arrow {
  left: 250px;
}

header.header > ul > li.link a span.text {
  font-family: inherit;
}

header.header > ul > li.link > div.drop-down > ul.main {
  /* border: 1px solid red; */
  width: 100%;
  margin: 0;
  padding: 0 10px;
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 0;
  row-gap: 10px;
}


header.header > ul > li.link > div.drop-down ul * {
  transition: all 300ms ease-in-out;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
}

header.header > ul > li.link > div.drop-down ul:last-of-type {
  border-top: 0.002rem solid #6b72802f;
  padding: 15px 10px 0 10px;
}


header.header > ul > li.link > div.drop-down ul > h4.title {
  grid-column: 1/3;
  padding: 0 0 0 10px;
  font-weight: 400;
}

header.header > ul > li.link > div.drop-down ul > li {
  /* border: 1px solid red; */
  width: 100%;
  color: var(--gray-color);
  font-weight: 400;
  padding: 3px 8px 5px;
  font-size: 0.9rem;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}

header.header > ul > li.link > div.drop-down ul > li:hover {
  background-color: #6b728015;
}

header.header > ul > li.link > div.drop-down ul > li a {
  width: 100%;
  font-weight: 400;
  font-size: 0.9rem;
  display: flex;
  align-items: center;
  gap: 10px;
}

header.header > ul > li.link > div.drop-down ul > li a:hover svg {
  color: inherit;
}

header.header > ul > li.link > div.drop-down ul > li svg {
  width: 24px;
  height: 24px;
}

header.header > ul > li.link > div.drop-down ul > li.icon svg {
  width: 20px;
  height: 20px;
}


header.header > ul > li.link > div.drop-down ul > li a span.content {
  display: flex;
  flex-flow: column;
  line-height: 1.5;
}

header.header > ul > li.link > div.drop-down ul > li a span.content h5 {
  font-weight: 500;
  font-size: 1rem;
  color: #1f2937;
}



main.main {
  /* border: 1px solid red; */
  display: flex;
  gap: 0;
  min-height: 90vh;
  justify-content: space-between;
}

main.main > article.content {
  /* border: 1px solid #000000; */
  padding: 30px 20px 30px 0;
  width: 65%;
  display: flex;
  flex-flow: column;
  gap: 10px;
}

main.main > article.content .head {
  /* border: 1px solid #000000; */
  display: flex;
  flex-flow: column;
  gap: 0;
}

main.main > article.content .head > .topic {
  /* border: 1px solid #000000; */
  width: max-content;
  color: var(--white-color);
  padding: 3px 10px 4px 10px;
  box-shadow: 0 0 0 1px #ffffff25, 0 2px 2px #0000000a, 0 8px 16px -4px #0000000a;
  background: var(--accent-linear);
  font-size: 0.9rem;
  font-weight: 500;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
}

main.main > article.content .head > h1.title {
  /* border: 1px solid #000000; */
  margin: 5px 0;
  font-weight: 700;
  font-size: 1.7rem;
  line-height: 1.5;
  color: #1f2937;
}

main.main > article.content .head > span.meta {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 25px;
  color: var(--gray-color);
  font-family: var(--font-mono);
  font-size: 0.9rem;
}

main.main > article.content .head > span.meta span.dot {
  display: none;
}


main.main > article.content > #content.content {
  /* border: 1px solid #000000; */
  display: flex;
  flex-flow: column;
  color: #1f2937;
  gap: 20px;
  font-size: 1rem;
}

main.main > article.content > #content.content .fonts {
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--gray-color);
  gap: 20px;
  z-index: 2;
  position: sticky;
  top: 70px;
  background-color: var(--background);
}

main.main > article.content > #content.content .fonts > .options {
  display: flex;
  align-items: center;
  justify-content: start;
  color: var(--gray-color);
  gap: 20px;
}

main.main > article.content > #content.content .fonts .options * {
  transition: all 300ms ease-in-out;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
}


main.main > article.content > #content.content .fonts.sticky {
  border-bottom: 1px solid #1f293725;
}

main.main > article.content > #content.content .fonts .options > span.font {
  display: inline-block;
  padding: 4px 15px;
  cursor: pointer;
  font-size: 0.95rem;
  color: var(--gray-color);
  border: 1px solid #6b72805d;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
}

main.main > article.content > #content.content .fonts .options > span.font.mono {
  font-family: var(--font-mono);
  font-size: 0.9rem;
}

main.main > article.content > #content.content .fonts .options > span.font.serif {
  font-family: 'Times New Roman', Times, serif;
}

main.main > article.content > #content.content .fonts .options > span.font.active {
  border-color: #21d02abe;
  background-color: #f3fff4;
}

main.main > article.content > #content.content .fonts .options > span.font:hover {
  border-color: #21d02abe;
  background-color: #f3fff4;
}

main.main > article.content > #content.content div.src-image{
  /* border: 1px solid #ff0000; */
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #1f2937;
  font-size: 1rem;
}

main.main > article.content > #content.content div.src-image figure {
  /* border: thin #c0c0c0 solid; */
  display: flex;
  flex-flow: column;
  padding: 5px;
  width: 500px;
  max-width: 90%;
  max-height: 350px;
  margin: auto;
}

main.main > article.content > #content.content div.src-image figure img {
  width: auto;
  height: 100%;
}

main.main > article.content > #content.content div.src-image figure figcaption {
  background-color: #dddddd;
  font: italic smaller var(--font-main);
  padding: 3px;
  text-align: center;
}

main.main > article.content > #content.content * {
  font-size: inherit;
  color: #1f2937;
  transition: all 300ms ease-in-out;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
}

main.main > article.content > #content.content h2.title {
  padding: 0 !important;
  font-size: 1.3rem !important;
  line-height: 1.5;
  margin: 10px 0 5px 0;
}

main.main > article.content > #content.content p {
  margin: 0 0 10px 0;
  line-height: 1.5;
}

main.main > article.content > #content.content a {
  /* color: #1da1f2; */
  cursor: pointer;
  color: transparent;
  background: var(--accent-linear);
  background-clip: text;
  -webkit-background-clip: text;
}

main.main > article.content > #content.content a:hover {
  text-decoration-color: var(--anchor-active) !important;
  text-decoration: underline;
  -moz-text-decoration-color: var(--anchor-active) !important;
}

main.main > article.content > #content.content ul,
main.main > article.content > #content.content ol {
  margin: 10px 0 0 20px;
  line-height: 1.4;
  color: #1f2937;
}

main.main > article.content > #content.content ul a,
main.main > article.content > #content.content ol a {
  background: unset;
  color: #1f2937;
  font-weight: 500;
  text-decoration-color: var(--anchor) !important;
  text-decoration: underline;
  -moz-text-decoration-color: var(--anchor) !important;
}

main.main > article.content > #content.content ul a:hover,
main.main > article.content > #content.content ol a:hover {
  text-decoration-color: #4b5563bd !important;
  -moz-text-decoration-color: #4b5563bd !important;
}


/* Next Article */
main.main > article.content .next-article {
  border-top: thin dashed #4b556348;
  padding: 20px 0;
}

main.main > article.content .next-article > a {
  border: thin solid #4b556331;
  padding: 15px 20px;
  display: flex;
  flex-flow: column;
  align-items: flex-end;
  text-align: end;
  font-size: 0.9rem;
  gap: 10px;
  color: var(--gray-color);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}

main.main > article.content .next-article > a:hover {
  background-color: #f8f8f8;
}

main.main > article.content .next-article > a > span.text {
  color: var(--text-color);
  font-weight: 500;
}

main.main > article.content .next-article > a > span.date {
  /* color: var(--text-color); */
  font-weight: 500;
  font-size: 0.8rem;
  font-family: var(--font-mono);
}

main.main > article.content .next-article > a > span.title {
  /* color: var(--text-color); */
  font-weight: 500;
  font-size: 0.8rem;
}

/* Opinion */
section.opinion {
  /* border-top: var(--input-border); */
  background-color: var(--background);
  padding: 10px 0;
  display: flex;
  flex-flow: column;
  gap: 0;
  z-index: 2;
  position: sticky;
  top: 70px;
}

section.opinion.sticky {
  border-bottom: var(--input-border);
}

section.opinion > form.opinion {
  /* border-bottom: 1px solid #6b72805d; */
  /* border: 1px solid #000000; */
  padding: 10px 0 10px 0;
  margin: 0 0;
  display: flex;
  align-items: flex-start;
  gap: 10px;
  font-size: 1rem;
  font-weight: 400;
  color: var(--gray-color);
  position: relative;
}

section.opinion > form.opinion {
  padding: 0 0 5px 0;
}


section.opinion > form.opinion .image {
  /* border: thin solid #4b5563bd; */
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  /* align-self: center; */
  overflow: hidden;
  width: 35px;
  height: 35px;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
}

section.opinion > form.opinion .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
}

section.opinion > form.opinion > textarea {
  /* border: var(--input-border); */
  border: none;
  padding: 8px !important;
  margin: 0;
  width: calc(100% - 35px);
  resize: none;
  height: 40px;
  /* max-height: 100px !important; */
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
  font-size: 1rem;
  font-weight: 400;
  color: var(--gray-color);
  border-radius: 10px;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

section.opinion > form.opinion > textarea::-webkit-scrollbar {
  display: none !important;
  visibility: hidden;
}

section.opinion > form.opinion > textarea:focus {
  border: var(--input-border-focus);
}

section.opinion > form.opinion > button {
  border: none;
  cursor: pointer;
  color: var(--white-color);
  background: var(--accent-linear);
  position: absolute;
  right: 8px;
  top: calc(50% - 18px);
  height: 30px;
  width: 60px;
  padding: 0;
  font-size: 0.9rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
}


section.opinion > .title {
  /* border: var(--input-border); */
  padding: 0 10px 20px 0;
  display: none;
  align-items: center;
  justify-content: space-between;
  gap: 0;
  color: var(--gray-color);
}

section.opinion.sticky > .title {
  display: none;
}

section.opinion > .title > h2 {
  margin: 0;
  font-weight: 600;
  line-height: 1.5;
  font-size: 1.3rem;
  color: var(--text-color);
}


/* Responses */

main.main > article.content section.responses {
  /* border: 1px solid #000000; */
  display: flex;
  flex-flow: column;
  gap: 0;
}




/*  Side bar */
main.main > section.side {
  /* border-left: thin solid #4b5563bd; */
  padding: 20px 0 30px 0;
  margin: 0;
  background-color: transparent;
  width: 33%;
  height: max-content;
  display: flex;
  flex-flow: column;
  gap: 0;
  position: sticky;
  top: 70px;
}

main.main > section.side > span.open-details-mobile {
  /* font-family: var(--font-mono); */
  color: var(--gray-color);
  padding: 40px 0 5px 0;
  margin: 0;
  background: var(--fade-linear-gradient);
  height: max-content;
  width: 100%;
  display: none;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  list-style-type: none;
  gap: 3px;
  font-weight: 700;
}

main.main > section.side > span.open-details-mobile svg {
  rotate: 180deg;
  min-width: 20px;
  min-height: 20px;
}

main.main > section.side .head {
  /* border: thin solid #4b5563bd; */
  background-color: var(--background);
  padding: 10px 15px 0 15px;
  display: flex;
  flex-flow: column;
  gap: 15px;
}

main.main > section.side .head > p.text {
  color: var(--gray-color);
  padding: 0;
  margin: 0;
  font-weight: 500;
}

main.main > section.side .head > .author {
  /* border: thin solid #4b5563bd; */
  padding: 0;
  display: flex;
  align-items: center;
  gap: 10px;
}

main.main > section.side .head > .author .image {
  /* border: thin solid #4b5563bd; */
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  width: 45px;
  height: 45px;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
}

main.main > section.side .head > .author .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
}

main.main > section.side .head > .author > .name {
  /* border: thin solid #4b5563bd; */
  padding: 0;
  display: flex;
  flex-flow: column;
  gap: 0;
}

main.main > section.side .head > .author > .name a {
  font-weight: 500;
  color: var(--text-color);
}

main.main > section.side .head > .author > .name .occupation {
  /* font-weight: 500; */
  color: var(--gray-color);
  font-size: 0.95rem;
}

main.main > section.side .on-this {
  /* border: thin solid #4b5563bd; */
  background-color: var(--background);
  padding: 20px 15px 0 15px;
  margin: 0;
  display: flex;
  flex-flow: column;
  gap: 22px;
}

main.main > section.side .on-this > .topics {
  /* border: thin solid #4b5563bd; */
  padding: 0 10px 0 0;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

main.main > section.side .on-this > .topics a.topic {
  text-decoration: none;
  font-family: var(--font-mono);
  font-size: 0.8rem;
  padding: 4px 15px;
  color: #808080;
  background-color: #39383816;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
}

main.main > section.side .on-this > .topics a.topic:hover {
  color: var(--white-color);
  background: var(--accent-color) linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 5s ease infinite;
  -webkit-animation: gradient 5s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0 50%;
  }
}

main.main > section.side .on-this > .table-of-content {
  /* border: thin solid #4b5563bd; */
  margin: 5px 0 0 0;
  display: flex;
  flex-flow: column;
  gap: 10px;
}

main.main > section.side .on-this > .table-of-content p.title {
  margin: 0;
  color: var(--text-color);
  font-weight: 600;
  font-size: 1.15rem;
  /* text-transform: uppercase; */
}

main.main > section.side .on-this > .table-of-content * {
  font-size: 0.9rem;
  color: var(--gray-color);
}

main.main > section.side .on-this > .table-of-content ul.inner-list,
main.main > section.side .on-this > .table-of-content ul.list {
  margin: 0;
  color: var(--text-color);
  text-decoration: none;
  list-style-type: none;
  display: flex;
  flex-flow: column;
  /* gap: 5px; */
}

main.main > section.side .on-this > .table-of-content ul.inner-list {
  padding: 0 0 0 10px;
}

main.main > section.side .on-this > .table-of-content ul > li {
  line-height: 1.4;
  font-weight: 500;
}

main.main > section.side .on-this > .table-of-content ul > li > a:hover {
  /* font-weight: 500; */
  color: #1f2937;
}

main.profile {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  gap: 0px;
  min-height: 60vh;
}

section.main {
  /* border: 1px solid #6b7280; */
  display: flex;
  flex-flow: column;
  align-items: start;
  gap: 0;
  width: 63%;
}


section.main > .head {
  /* border: 1px solid #6b7280; */
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  gap: 0;
  width: 100%;
}

section.main > .head * {
  transition: all 300ms ease-in-out;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
}
section.main > .head > .data {
  /* border: 1px solid #6b7280; */
  display: flex;
  flex-flow: column;
  gap: 0px;
}

section.main > .head > .data > .name {
  /* border: 1px solid #6b7280; */
  display: flex;
  flex-flow: column;
  gap: 0;
}

section.main > .head > .data > .name > p {
  /* border: 1px solid #6b7280; */
  margin: 0;
  padding: 0;
  color: var(--text-color);
  font-family: var(--font-text);
  font-weight: 500;
  line-height: 1.4;
  font-size: 1.2rem;
}

section.main > .head > .data > .name > .user {
  /* border: 1px solid #6b7280; */
  margin: 0 0 10px 0;
  padding: 0;
  color: var(--gray-color);
  font-family: var(--font-text), sans-serif;
  font-weight: 400;
  line-height: 1.4;
  font-size: 1rem;
  display: flex;
  font-family: var(--font-mono), monospace;
  align-items: start;
  flex-flow: column;
  gap: 0;
}

section.main > .head > .data > .name > .user > span.code {
  /* border: 1px solid #6b7280; */
  margin: 0 0;
  padding: 0;
  color: transparent;
  background: var(--accent-linear);
  background-clip: text;
  -webkit-background-clip: text;
  font-family: var(--font-mono), monospace;
  font-weight: 400;
}

section.main > .head > .data > .name > .user > span.joined {
  font-size: 0.9rem;
  font-family: var(--font-text), sans-serif;
}

section.main > .head > .data > .users {
  /* border: 1px solid #6b7280; */
  margin: 0;
  padding: 0;
  color: var(--gray-color);
  font-family: var(--font-main), sans-serif;
  font-weight: 400;
  line-height: 1.4;
  font-size: 0.9rem;
  display: flex;
  align-items: center;
  gap: 5px;
}

section.main > .head > .data > .users > a {
  text-decoration: none;
  color: inherit;
}

section.main > .head > .data > .users > a:hover {
  color: var(--accent-color);
}

section.main > .head > .data > .users > a > span.no {
  font-family: var(--font-mono), monospace;
  font-size: 0.9rem;
}

section.main > .head > .image {
  /* border: 1px solid #6b7280; */
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90px;
  height: 90px;
  overflow: hidden;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}

section.main > .head > .image > img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}

section.main > p.about {
  /* border: 1px solid #6b7280; */
  margin: 15px 0;
  padding: 0;
  color: var(--text-color);
  font-family: var(--font-text);
  font-weight: 400;
  line-height: 1.4;
  font-size: 1rem;
}

section.main > .actions {
  border-bottom: var(--story-border);
  display: flex;
  flex-flow: column;
  gap: 0;
  width: 100%;
  position: sticky;
  top: 70px;
}

section.main > .actions > ul.tab {
  height: max-content;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  gap: 5px;
  align-items: center;
  max-width: 100%;
  overflow-x: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

section.main > .actions > ul.tab::-webkit-scrollbar {
  display: none !important;
  visibility: hidden;
}

section.main > .actions > ul.tab > li.tab-item {
  position: relative;
  color: var(--gray-color);
  font-family: var(--font-text), sans-serif;
  font-weight: 400;
  padding: 6px 0 8px 0;
  margin: 0 10px 0 0;
  display: flex;
  align-items: center;
  cursor: pointer;
  /* font-size: 1rem; */
  font-size: 0.95rem;
}

section.main > .actions > ul.tab > li.tab-item:last-of-type {
  margin: 0 0 0 10px;
}

section.main > .actions > ul.tab > li.tab-item.active {
  padding: 6px 10px 8px 10px;
  margin: 0;
}
section.main > .actions > ul.tab > li.tab-item:hover>.text {
  color: var(--accent-color);
}

section.main > .actions > ul.tab > li.active {
  font-size: 0.95rem;
  padding: 6px 10px 10px 10px;
}

section.main > .actions > ul.tab > li.active > .text {
  color: transparent;
  background: var(--accent-linear);
  background-clip: text;
  -webkit-background-clip: text;
  font-family: var(--font-text);
}

section.main > .actions > ul.tab > li.active > span.line {
  position: absolute;
  background: var(--accent-linear);
  display: inline-block;
  bottom: 0;
  right: 0;
  left: 0;
  min-height: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

section.main > .actions > .author {
  border-top: var(--story-border);
  border-bottom: var(--story-border);
  padding: 10px 0;
  display: flex;
  align-items: center;
  gap: 5px;
  font-weight: 400;
  color: var(--gray-color);
  font-family: var(--font-mono), monospace;
  font-size: 0.9rem;
}

section.main > div.content-container {
  border: 1px solid #6b7280;
  margin: 10px 0;
  padding: 0;
  display: flex;
  flex-flow: column;
  align-items: start;
  flex-wrap: nowrap;
  gap: 15px;
  width: 100%;
}


section.side {
  /* border: 1px solid #53595f; */
  padding: 0;
  width: 35%;
  display: flex;
  flex-flow: column;
  gap: 20px;
  position: sticky;
  top: 70px;
  height: max-content;
}



/*Footer*/
footer.footer {
  border-top: thin solid #4b5563bd;
  padding-top: 20px;
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 20px;
  padding-bottom: 30px;
  font-family: var(--font-text), sans-serif;
}

footer.footer > section {
  /* border: 1px solid #1f2937; */
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 10px;
  max-width: 500px;
}

footer.footer > section >.title {
  color: var(--text-color);
  font-family: var(--font-text), sans-serif;
  font-size: 1.1rem;
  font-weight: 600;
}

footer.footer > section > ul.footer-list {
  /* border: 1px solid #1f2937; */
  margin: 0;
  list-style-type: none;
  padding: 0 0 0 1px;
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

footer.footer > section > ul.footer-list > li.item {
  margin: 0 10px 0 0;
  padding: 0;
  width: max-content;
  position: relative;
  /* border: 1px solid #808080; */
}

footer.footer > section > ul.footer-list > li.item > .dot {
  display: inline-block;
  background: var(--accent-linear);
  width: 5px;
  height: 5px;
  position: absolute;
  right: -9px;
  top: 3px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}

footer.footer >section > ul.footer-list > li.item > a.item-link {
  color: var(--gray-color);
  /* font-size: 0.98rem; */
  text-decoration: none;
  font-weight: 400;
  font-size: 0.9rem;
}

footer.footer > section > ul.footer-list > li.item > a.item-link:hover {
  /* color: var(--accent-color); */
  color: transparent;
  background: var(--accent-linear);
  background-clip: text;
  -webkit-background-clip: text;
  border-bottom: 1px solid var(--accent-color);
}

footer.footer > section.newsletter {
  /* border: 1px solid #1f2937; */
  display: flex;
  flex-flow: column;
  align-items: center;
  max-width: 500px;
}

footer.footer > section.newsletter > .text {
  padding-left: 3px;
  line-height: 1.3;
  text-align: center;
  color: var(--text-color);
}

footer.footer > section.newsletter > form {
  padding: 5px;
  width: 100%;
  position: relative;
}

footer.footer > section.newsletter > form > input[type="email"] {
  width: 100%;
  outline: none;
  color: var(--text-color);
  font-family: var(--font-main);
  padding: 12px 15px;
  font-size: 1rem;
  /* border: 2px solid #4949bc; */
  border-top-color: #21D029;
  border-top-width: 2px;
  border-right-color: #54df5b;
  border-right-width: 2px;
  border-bottom-color: #21D029;
  border-bottom-width: 2px;
  border-left-color: #18A565;
  border-left-width: 2px;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
}

footer.footer>section.newsletter>form>input[type="submit"] {
  outline: none;
  position: absolute;
  cursor: pointer;
  font-family: var(--font-main);
  right: 30px;
  top: 14px;
  font-size: 1rem;
  padding: 5px 15px;
  background: var(--accent-linear);
  color: var(--white-color);
  border: none;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
}

footer.footer>.copy {
  border-top: 1px solid #6b728037;
  padding: 8px 10px;
  grid-column: 1/5;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

footer.footer>.copy>.copyright {
  display: flex;
  gap: 2px;
}

footer.footer>.copy>.copyright>.company {
  display: inline-block;
  margin: -5px 10px 0 0;
  font-size: 1.35rem;
  font-weight: bold;
  color: var(--text-color);
  font-family: 'Segoe UI', Tahoma, var(--font-main), Verdana, sans-serif !important;
}

footer.footer>.copy>.copyright>i {
  color: var(--gray-color);
  font-style: normal;
  font-family: inherit;
  /* font-size: 1.2rem; */
}

footer.footer>.copy>.copyright>a {
  /* border: 1px solid #80808040; */
  color: var(--gray-color);
  text-decoration: none;
  text-align: center;
}

footer.footer>.copy>.copyright>a:hover {
  color: transparent;
  background: var(--accent-linear);
  background-clip: text;
  -webkit-background-clip: text;
  border-bottom: 1px solid var(--accent-color);
}

footer.footer>.copy>.legal {
  display: flex;
  flex-wrap: nowrap;
  gap: 0;
}

footer.footer>.copy>.legal>a {
  color: var(--gray-color);
  padding: 0 15px;
  text-decoration: none;
  border-right: 1px solid #6b728027;
}

footer.footer>.copy>.legal>a:last-of-type {
  border-right: none;
}

footer.footer>.copy>.legal>a:hover {
  color: transparent;
  background: var(--accent-linear);
  background-clip: text;
  -webkit-background-clip: text;
}